include LICENSE
include README.md
include pyproject.toml
include configs/hinode_lte_mhs.yaml
include configs/hinode_lte_mhs_extrapolation.yaml
include configs/hmi_lte_dynamic.yaml
include configs/hmi_lte_mhs.yaml
recursive-include docs *.md
recursive-include resource_builder *.py *.md *.txt
recursive-include scripts *.sh
recursive-include src/prom3theus *.py
recursive-include src/prom3theus/resources/data *.json
prune tests
global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude __pycache__
