numpy>=1.19.2
torch>=2.6,<3
drms>=0.6.2
python-dateutil>=2.8.2
pandas>=1.3.1
PyYAML>=6
tqdm>=4.61.2
matplotlib>=3.4.3
astropy>=4.3.post1
scipy>=1.10
scikit-learn>=1.2
scikit-image>=0.18.2
sunpy[all]>=3.0.1
zarr>=3.1,<4
setuptools>=49.6.0
wandb>=0.13
pytorch-lightning>=2.6,<3
